
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <center>
        <div style="width:80%">
            <h1>Funcionário Id: @ViewBag.Func.Id</h1>
            <h2>Nome: @ViewBag.Func.Nome</h2>
            <h2>Login: @ViewBag.Func.Login</h2>
            <h2>Endereço: @ViewBag.Func.Endereco</h2>
            <h2>Email: @ViewBag.Func.Email</h2>
            <h2>Número de Telefone: @ViewBag.Func.NumTel</h2>
            <h2>Data de Criação: @ViewBag.Func.DataCriacao</h2>
        </div>
    </center>
    
</body>
</html>
