
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
    <div> 
        <center>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Login</th>
                        <th>Endereço</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Data de Criação</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var f in ViewBag.Funcs)
                    {
                        <tr>
                            <td>@f.Nome</td>
                            <td>@f.Login</td>
                            <td>@f.Endereco</td>
                            <td>@f.Email</td>
                            <td>@f.NumTel</td>
                            <td>@f.DataCriacao</td>
                            <td>@Html.ActionLink("Detalhes", "Detalhes", new { Id = f.Id })</td>
                        </tr>
                        
                    }
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>
