
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <center>
        <div class="row col-6">
            <label class="m-lg-auto">Id Funcionário:</label>
            <input readonly value="@Session["_Id"].ToString()" class="form-control m-lg-auto" />
            @*<label class="m-lg-auto">CPF Cliente:</label>
            <input value="" class="form-control m-lg-auto" />*@
        </div>
    </center>
    <br /><br />
    <div>
        <center>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Fabricante</th>
                        <th>Venda</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in ViewBag.Prods)
                    {
                    <tr>
                        <td>@p.Id</td>
                        <td>@p.Nome</td>
                        <td>@p.Descricao</td>
                        <td>@p.Preco</td>
                        <td>@p.Quantidade</td>
                        <td>@p.Fabricante</td>
                        <td><form action="../ProdutoVenda/AddCarrinho" method="post"><div class="row"><input type="hidden" value="@p.Id" name="p.Id" /><div class="col"><label>Quantidade:</label></div><div class="col"><input value="1" class="form-control" name="Qtd" /></div><div class="col"> <input type="submit" class="btn btn-info" value="Adicionar ao Carrinho" /></div></div></form></td>
                    </tr>
                    }
                </tbody>
            </table>

            <form method="post" action="../ProdutoVenda/Carrinho"><input type="submit" value="Conferir Carrinho" class="btn btn-success" /></form>
        </center>
    </div>

</body>
</html>
