
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
    <div> 
        <center>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Fabricante</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var p in ViewBag.Prods)
                    {
                        <tr>
                            <td>@p.Id</td>
                            <td>@p.Nome</td>
                            <td>@p.Descricao</td>
                            <td>@p.Preco</td>
                            <td>@p.Quantidade</td>
                            <td>@p.Fabricante</td>
                            <td>@Html.ActionLink("Detalhes", "Detalhes", new { Id = p.Id })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>
