
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
    <div>
        <center>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Data de Criação</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in ViewBag.Clientes)
                    {
                    <tr>
                        <td>@c.CPF</td>
                        <td>@c.Nome</td>
                        <td>@c.Endereco</td>
                        <td>@c.Email</td>
                        <td>@c.NumTel</td>
                        <td>@c.DataCriacao</td>
                        <td>@Html.ActionLink("Detalhes", "Detalhes", new { CPF = c.CPF })</td>
                    </tr>

                    }
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>
