
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Relatório</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <br />    <br />
        <center>
            <table class="table table-striped">

                <tbody>
                    @foreach (var c in ViewBag.Ven)
                    {

                    <thead>
                        <tr>
                            <th>CPF do Cliente</th>
                            <th>Nome do Cliente</th>
                            <th>Id do Funcionário</th>
                            <th>Nome do Funcionário</th>
                            <th>Data de Compra</th>
                            <th>Preço Total</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>@c.Clientes.CPF</td>
                        <td>@c.Clientes.Nome</td>
                        <td>@c.FuncionarioId</td>
                        <td>@c.Funcionarios.Nome</td>
                        <td>@c.Data</td>
                        <td>@c.PrecoTotal</td>
                        @foreach (var d in ViewBag.IV)
                        {

                            if (d.VendaId == c.Id)
                            {
                            <thead>
                                <tr>
                                    <th>Quantidade </th>
                                    <th>Nome do Produto</th>
                                </tr>
                            </thead>
                            foreach (var a in ViewBag.Prod)
                            {
                                if (d.ProdutoId == a.Id)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@d.Quantidade</td>

                                            <td>@a.Nome</td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    }
                                    <tr><th class="bg-dark"></th><th class="bg-dark"></th><th class="bg-dark"></th><th class="bg-dark"></th><th class="bg-dark"></th><th class="bg-dark"></th></tr>
                        </tr>



                    }
                    </tbody>
                </table>
        </center>
    </div>
</body>
</html>

