
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <center>
        <div style="width:80%">
            <h1>Cliente Id: @ViewBag.Cli.Id</h1>
            <h1>Cliente CPF: @ViewBag.Cli.CPF</h1>
            <h2>Nome: @ViewBag.Cli.Nome</h2>
            <h2>Endereço: @ViewBag.Cli.Endereco</h2>
            <h2>Email: @ViewBag.Cli.Email</h2>
            <h2>Número de Telefone: @ViewBag.Cli.NumTel</h2>
            <h2>Data de Criação: @ViewBag.Cli.DataCriacao</h2>
        </div>
    </center>
</body>
</html>
