
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="bg-light">

    <div class="container">
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Cadastro do Cliente</h4>
            <form class="needs-validation" novalidate="" method="post" action="/Cliente/Cadastrar">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Primeiro nome</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Nome" value="@ViewBag.Cli.Nome" required="" name="cliente.Nome">
                        <div class="invalid-feedback">
                            Não pode ser nulo.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Sobrenome</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Sobrenome" value="@ViewBag.Sobre" required="" name="sobre">
                        <div class="invalid-feedback">
                            Não pode ser nulo.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Endereço</label>
                    <input type="text" class="form-control" id="address" placeholder="Av. Exemplo, 100" required="" value="@ViewBag.Cli.Endereco" " name="cliente.Endereco">
                    <div class="invalid-feedback">
                        Digite um endereço válido.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="exemplo@email.com" value="@ViewBag.Cli.Email" name="cliente.Email">
                    <div class="invalid-feedback">
                        Digite um E-mail válido.
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Número de telefone</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="Telefone" value="@ViewBag.Cli.NumTel" required="" name="cliente.NumTel">
                        <small class="text-muted">(DDD) 00000-0000</small>
                        <div class="invalid-feedback">
                            Digite um número válido.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="cc-name">CPF</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="000.000.000-00" value="@ViewBag.Cli.CPF" required="" name="cliente.CPF">
                        <small class="text-muted">000.000.000-00</small>
                        <div class="invalid-feedback">
                            Digite um número válido.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

    <center>
        <div class="@ViewBag.Class" style="width: 80%" role="alert">
            @Html.ValidationMessage("cliente.Nome")<br />
            @Html.ValidationMessage("cliente.Endereco")<br />
            @Html.ValidationMessage("cliente.NumTel")<br />
            @Html.ValidationMessage("cliente.Email")<br />
            @Html.ValidationMessage("cliente.CPF")<br />
        </div>
    </center>

    <br /><br />
    <center>
        <form action="/Cliente/Listar">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Listar Clientes" />
        </form>
    </center>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>
</html>
